/* CSS rules to specify families

font-family: 'Black Ops One', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Chewy', cursive;
font-family: 'Frijole', cursive;
font-family: 'Nanum Brush Script', cursive;
font-family: 'Ribeye Marrow', cursive;
font-family: 'Rock Salt', cursive; */

html {
	height: 100%;
	width: 100%;
}

/* h1,
h2,
a,
p,
input,
a,
div,
h3,
h4,
h5,
textarea,
select,
option */
/* .navbar :is(a, button) {
	font-family: "Frijole", cursive;
	background-color: transparent;
} */

.bg-primary {
	background-image: linear-gradient(to right, #434343 0%, black 100%);
}

body {
	height: 100%;
	width: 100%;
	/* background-image: url("../images/CookOffPic.png"); */
	background-color: lightslategrey;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

/* * {
	font-family: "Frijole", cursive;
} */

.btn-dark {
	/* font-family: "Frijole", cursive; */
	/* background-image: linear-gradient(to right, #434343 0%, black 100%); */
	border-color: transparent;
}
