.home__container {
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
}

.home__shelf-header,
.home__shelf {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: flex-end;
}
.home__shelf-body {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: flex-end;
	padding-bottom: 20px;
	padding-top: 20px;
}
